<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="margin: 0px">
<span id="checker"></span>
<div id="map">

</div>

</body>
</html>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bad65396cbc898fd3b09544f7e3891ee"></script>
<script th:inline="javascript">
  /*<![CDATA[*/

  var level = parseInt([[${level}]]);
  var lat = parseFloat([[${lat}]]);
  var lng = parseFloat([[${lng}]]);
  /*]]>*/

  var width;
  var zoomLevel;
  switch (level){
    case 1:
      zoomLevel = 2;
      width = 5000;
      break;
    case 2:
      zoomLevel = 2;
      width = 8000;
      break;
    case 5:
      zoomLevel = 4;
      width = 5000;
    case 10:
      zoomLevel = 5;
      width = 5000;
    default:
      break;
  }
  var container = document.getElementById('map');
  var options = {
            center: new kakao.maps.LatLng(lat, lng),
            level: zoomLevel,
            draggable:false
          };
  container.style.height = width + "px";
  container.style.width = width + "px";

  var map = new kakao.maps.Map(container, options);
  map.setMapTypeId(kakao.maps.MapTypeId.SKYVIEW);


  map.relayout();

  kakao.maps.event.addListener(map, 'tilesloaded', function() {
    document.getElementById("checker").setAttribute("id", "checker-true");
  });

</script>
</body>
</html>