<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="margin: 0px">
<span id="checker"></span>
<div id="map">

</div>

</body>
</html>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bad65396cbc898fd3b09544f7e3891ee"></script>
<script th:inline="javascript">
  /*<![CDATA[*/

  var level = parseInt([[${level}]]);
  var lat = parseFloat([[${lat}]]);
  var lng = parseFloat([[${lng}]]);
  /*]]>*/

  var container = document.getElementById('map'),
          options = {
            center: new kakao.maps.LatLng(lat, lng),
            level: level,
            draggable:false
          };

  var map = new kakao.maps.Map(container, options);
  map.setMapTypeId(kakao.maps.MapTypeId.SKYVIEW);

  container.style.width = 2000 + 'px';
  container.style.height = 2000 + "px";
  map.relayout();

  kakao.maps.event.addListener(map, 'tilesloaded', function() {
    getElementByXpath("/html/body/div/div[2]/div[2]/div").innerText = "국토지리정보원";
    document.getElementById("checker").setAttribute("id", "checker-true");
  });

  function getElementByXpath(path) {
    return document.evaluate(path, document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
  }




</script>
</body>
</html>